
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-family: "Manrope", serif;
  }
  
  body {
    max-width: 1680px;
    max-height: 1050px ;
    background-color: #EFEBE1;
    color: #333;
  }
  
  header {
    background-color: #fff;
    border-bottom: 2px solid #e0e0e0;
    padding: 10px 20px;
  }
  h1{
    font-family: "Marvel", serif;
    font-weight:bold;
    color: #000000;
  }
  
  .container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .menu-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .tabmenu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
  .tabmenu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
  }
  
  .tabmenu li a:hover {
    color: #007bff;
  }
  
  .btn-primary {
    background-color: #32ADE6;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    font-weight:bold;
    border-radius: 100px;
    cursor: pointer;
  }
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .textB {
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    background-color: #EFEBE1;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .textB h1 {
    font-size: 128px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .queue-card {
    align-items: center;
    justify-content: center;
    margin: 0% auto;
    background-color: #fff;
    border-radius: 140px;
    width: 1185px;
    height: 489px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .queue-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .queue-info, .queue-waiting {
    
    text-align: center;
  }
  
  .queue-info h3, .queue-waiting h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .queue-info p, .queue-waiting p {
    font-size: 32px;
    font-weight: bold;
  }
  
  .divider {
    width: 2px;
    background-color: #ccc;
    height: 60px;
  }
  
  .queue-divider {
    border: none;
    border-top: 1px dashed #ccc;
    margin: 20px 0;
  }
  
  .queue-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .queue-details ul {
    padding: 0;
    margin: 5%;
  }
  
  .queue-details li {
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  .cancel-button {
    background-color: #FF3D3D;
    color: #000000;
    border: black solid;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20%;
  }
  
  .cancel-button:hover {
    background-color: #CC0000;
  }
  