@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-family: "Manrope", sans-serif;
  }

  
  body {
    max-width: 100%;
    max-height: 100vh ;
    background-color: #EFEBE1;
    color: #333;
  }
  
  nav {
    width: 100%;
    display: flex;
    align-items:center;
    background-color: #fff;
    border-bottom: 2px solid #e0e0e0;
    padding-left: 100px;
    padding-right: 40px;
    justify-content: space-between;
  }
  .logobrand {
    justify-content: flex-start;
    margin-top: 30px;
    
  }
  h1{
    font-family: "Marvel", serif;
    font-weight:bold;
    color: #000000;
  }
  
  .container {
    height: 90px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .menu-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
  }
  .tabmenu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }
  .queue-details ul li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  .tabmenu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
  }
  
  .tabmenu li a:hover {
    color: #007bff;
  }

  .containerfoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .booking-history h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .booking-history{
    width: 1200px;
    height: 700px;
    background-color: #fff;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    
  }
  .queue-divider {
    border: none;
    border-top: 2px dashed #000000;
    margin: 20px 0;
  }