@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

  body {
    width: 100%;
    height: 100vh ;
    background-color: #EFEBE1;
    color: #333;
  }
  
  header {
    height: 80px;
    background-color: #fff;
    border-bottom: 2px solid #e0e0e0;
    padding: 0px 10px;
  }
h1 {
    font-family: "Marvel", sans-serif;
    font-weight: bold;
    color: #2c2626;
    font-size:xx-large;
    font-family: "Noto Sans Thai", serif;
}

.container {
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tabmenu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.tabmenu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.tabmenu li a:hover {
    color: #007bff;
}

.services {
    text-align: center;
    margin: 20px 0;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.service-item img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.service-item img:hover {
    transform: scale(1.05);
}
.logo{
    width: 90px;
    height: auto;
}

.service-items img {
    width: 90%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin-left: -20px;
}

.service-items img:hover {
    transform: scale(1.05);
}